/* style for body, med tekst */
body {
  font-family: Arial, Helvetica, sans-serif;
}

img{
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 0%;
  margin-bottom: 5%;
  padding: 0.5rem;
}



/* lager grid container som deles opp i header, aside, main og footer*/
#grid-container {
  display: grid;
  grid-template-areas: "header" "aside" "main" "footer";
}

/* Padding i grid */
header, aside, main, footer {
  padding: 0.5rem;
}

/*Style for header */
header {
  font-size: 1.5rem;
  grid-area: header;
  background-color: navajowhite;
  padding: 1.5rem;
  position: relative;

}
/* style for nav header */
header nav {
  display: flex;
  position: relative;
  max-width: 1900px;
}

/* style for nav */
nav {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}

/* Style for nav, gjemmer navigasjons i mindre skjermer */
nav ul {
  display: block;
  font-size: 0.5rem;
  width: 100%;
}

nav ul:last-child {
  width: 100%;
  flex-basis: 100%;
}

nav ul li {
  margin-bottom: 0;
  width: 200%;
  padding: 0.5em;
}

/* Style for navigasjons linker- i desktop */ 
/* Endret til underline for mer tydelig navigasjon for de som kjører med skjermleser */
.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  font-weight: 600;
  font-size: 48px;
  transition: .4s ease-in-out;
}


/* Skip til hovedmenyen, kommer opp vedtrykk på TAB knapp, kan trykke på enter for å komme til hovedsiden */ 
.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: #0b0101;
  color: rgb(255, 255, 255);
  opacity: 0;
    font-size: 48px;
}
.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}






/* Gjemmer bort navigasjonslinker på smalere skjermer */
/* Fjernet space-around siden align bestemmer */ 
.navbar {
  display: none;
}

/* Tilgjengelighet */ 
.snarvei {
  .position: absolute;
  left: -2000px;
  top: 0px;
}
.snarvei:focus {
  left: 0px;
}



* {
  box-sizing: border-box;
}

form {
  background-color: #e0bed9;
  width: 300px;
  height: 44px;
  border-radius: 5rem;
  display: flex;
  flex-direction: row;
  place-items: center;
  text-align: justify;
  
  margin-bottom: 3%;
}

form button {
  float: none; 
  width: 200px;
  height: 44px;
  padding: 2px;
  background: #1d2a35;
  color: white;
  font-size: 28px;
  border: 0px solid grey;
  border-left: none; 
  cursor: pointer;
  
}

form button:hover {
  background: #20c950;
}

/* Style for seksjon for størrelse og handlekurv */
.flex-section form {
  background-color: #928484;
  width: 200px;
  height: 80px;
  border-radius: 1rem;
  display: flex;
  place-items: center;
  text-align: center;
  
  margin-bottom: 5%;
  
}

.flex-section form button {
  width: 250px;
  height: 82px;
  background: #1d2a35;
  font-weight: 700;
  color: white;
  font-size: 15px;
  border: 5px solid black;
  cursor: pointer;
  border-radius: 1rem;
  
}







input {
  all: unset;
  font: 30px system-ui;
  color: #000000;
  height: 100%;
  width: 100%;
  padding: 0rem 1rem;
}
::placeholder {
  color: #000000;
  opacity: 0.8;
}

button {
  background-color: #bdade4;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  width: 120px;
  border-radius: 5rem;
}


/* Style for aside/sidebar */
aside {
  display: grid;
  grid-area: aside;
  font-size: 20px;
  font-weight: 500;
  
}

/* Style for sidebar tekst */
aside a {
  display: block;
  padding: 5px 5px 5px 5px;
  width: 100%;
  justify-content: center; 
  font-size: 50px;
  color: black;
  text-decoration: underline; 
  transition: 0.3s;
}

/* Style for liste i sidebar */ 
/* 0 px for mer tilgjengelighet men ikke synlig */
aside li {
  font-size: 0px;
 }

/* Style for aside seksjonen */
aside section {
  padding: 5rem;
  font-size: 0px;
  color: rgb(4, 4, 4);
  background-color: navajowhite;
}



aside ul {
  display: block;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 5rem;
}

/* Style for hovedinnhold og legger i grid-area main */
main {
  grid-area: main;
}

/* Style for bilder hoved seksjon */
main section img {
  width: auto; 
  height:auto;
}

/* Style for flex seksjonen */
/* disse vil gå på alle side seksjoner */
.flex-section {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  gap: 20px;
  padding: 5%;
}

.flex-section h1 {
  font-size: 40px;
}


.flex-section h2 {
  font-size: 35px;
}

.flex-section h3 {
  font-size: 30px;
  font-family: italic;
}


.flex-section h4 {
  font-size: 25px;
} 

.flex-section h5 {
  font-size: 22px;
}

.flex-section p {
  font-size: 20px;
  font-family: italic;

} 

/* Lagt til auto for delen Performance som vil justere seg automatisk til nettleseren */
/* FOR Å IKKE ENDRE FOR MYE ETTER OBLIG 3 SÅ FÅR BILDENE STÅ SOM DE ER */
.flex-section img {
  width: 100%;
  height: 100%;
}



/* Style for seksjon sec-0 */
/* FJERNER ALLE DISPLAY: FLEX PÅ HVER ID SEC */ 
#sec-0 {
  
  flex-direction: row;
  flex-wrap: wrap;
  background-color:navajowhite;
  padding: 1rem; 
 
}

/* Style for tekst i seksjonen sec-0 */ 
#sec-0 a {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: black;
  text-decoration: none;
}



/* Style for seksjon sec-1 */
#sec-1 {
  
  flex-direction: row;
  flex-wrap: wrap;
  background-color:navajowhite;
  padding: 1rem; 
 
}

/* Style for tekst i seksjonen sec-1 */ 
#sec-1 a  {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: black;
  text-decoration: solid;
}



/* Style for seksjon sec-2 */
#sec-2 {

  flex-direction: row;
  flex-wrap: wrap;
  background-color:navajowhite;
  padding: 1rem; 
  
}

/* Style for tekst i seksjonen sec-2 */ 
#sec-2 a {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: black;
  text-decoration: solid;

}


/* Style for seksjon sec-3 */
#sec-3 {

  flex-direction: row;
  flex-wrap: wrap;
  background-color:navajowhite;
  padding: 1rem; 
 
}

/* Style for tekst i seksjonen sec-3 */ 
#sec-3 a {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: black;
  text-decoration: solid;
}

/* Style for seksjon sec-4 */
#sec-4 {
 
  flex-direction: row;
  flex-wrap: wrap;
  background-color:navajowhite;
  padding: 2rem; 
} 

/* Style for tekst i seksjonen sec-4 */ 
#sec-4 a {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: black;
  text-decoration: solid;
}

/* Style for nøkkelord seksjonen som har SEC-5 som id*/
#sec-5 {
  display: flex;
  flex-direction: column;
  background-color: #d7d6d4;
  padding: 1rem;

}
#sec-5 h2 {
  font-size: 35px;
}

#sec-5 h3 {
  font-size: 30px;
}

#sec-5 p {
  font-size: 20px;
}

#sec-5 ul {
  width: 100%;
  font-size: 35px;
  background: #a3a3a3;
}

/* SEC-SEO ER LAGT TIL FOR OBLIG 4 */ 
#sec-seo {
  display: flex;
  flex-direction: column;
  background-color: rgb(217, 255, 234);
  padding: 2rem;
}

#sec-seo img {
  width: 50%;
}

#sec-seo h1 {
  font-size: 40px;
}

#sec-seo h2 {
  font-size: 35px;
}

#sec-seo h3 {
  font-size: 30px;
}

#sec-seo p {
  font-size: 20px;
}

/* Style for seksjonen som omhandler UU: sec-uu */
#sec-uu {
  display: flex;
  flex-direction: column;
  background-color:#a1bae0;
  padding: 2rem;
}

#sec-uu img {
  width: 50%;
}

#sec-uu h1 {
  font-size: 40px;
}

#sec-uu h2 {
  font-size: 35px;
}

#sec-uu h3 {
  font-size: 30px;
}

#sec-uu h4 {
  font-size: 25px;

}

#sec-uu p {
  font-size: 20px;
}

#breadcrumbs{
  width: 100%;
}

#breadcrumbs ul{
  display: flex;
  list-style: none;
  gap: 0.9rem;
  padding: 0;
  margin: 1rem 0;
}

.flex-items{
  width: 100%;
}


#changes-0 {
  display: flex;
  flex-direction: column;
  background-color:#f4ade6;
  padding: 2rem;
}

#changes-0 img {
  width: 50%;
}

#changes-0 h1 {
  font-size: 40px;
}

#changes-0 h2 {
  font-size: 35px;
}

#changes-0 h3 {
  font-size: 30px;
}

#changes-0 p {
  font-size: 20px;
}

#del-3 {
  display: flex;
  flex-direction: column;
  background-color: #9de9b1;
  padding: 2rem;
}

#del-3 img {
  width: 50%;
}

#del-3 h1 {
  font-size: 40px;
}

#del-3 h2 {
  font-size: 35px;
}

#del-3 h3 {
  font-size: 30px;
}
#del-3 h4 {
  font-size: 25px;
}

#del-3 p {
  font-size: 20px;
}


#del-4 {
  display: flex;
  flex-direction: column;
  background-color: #baa1f1;
  padding: 2rem;
}

#del-4 img {
  width: 50%;
}
#del-4 h1 {
  font-size: 40px;
}
#del-4 h2 {
  font-size: 35px;
}

#del-4 h3 {
  font-size: 30px;
}

#del-4 h4 {
  font-size: 25px;
}

#del-4 p {
  font-size: 20px;
}

#del-5 {
  display: flex;
  flex-direction: column;
  background-color: #fa93b6;
  padding: 2rem;
}

#del-5 img {
  width: 50%;
}

#del-5 h1 {
  font-size: 40px;
}

#del-5 h2 {
  font-size: 35px;
}

#del-5 h3 {
  font-size: 30px;
}

#del-5 h4 {
  font-size: 25px;
}

#del-5 p {
  font-size: 20px;
}

/* Style for footer */ 
footer {
  grid-area: footer;
}

/* Style for footer navigasjons linker */
footer ul {
  padding: 5px;
  list-style: none;
  text-align: center;
  /* OBLIG4: For å få bedre tilgjengelighet for alle brukere, bør font størerlsen økes (eller avstands-størrelsen mellom disse økes). Anbefaling er 48px */ 
  font-size: 48px;
  line-height: 1.6;
  margin-bottom: 0;
}


/* Style på linker som farge, understrek i footer linker */
/* OBLIG 4: Fjerner underline og bruker solid istedenfor, fjerner Opacity som var på 0.8 før for mer tydelighet */
footer ul a {
  color: black; 
  text-decoration: solid;
  
}

/* Style for sosiale medier ikoner, plassering */
footer .social {
  text-align: center;
  padding-bottom: 25px;
}

/* Style for sosiale medier ikoner, som størrelse */
footer .social > a {
   font-size: 40px;
  width: 40px;
  height:40px;
  line-height: 40px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #ccc; 
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

/* style for sosiale medier, justering */
footer img {
  height: auto;
  width: auto;
}


/* Style for copyright tekst */ 
footer .copyright {
  margin-top:15px;
  text-align: center;
  font-size:13px;
  color:#656565;
  margin-bottom: 0;
 }

 @media only screen and (min-width: 600px) { 
  #grid-container {
    grid-template-areas: "header header header" "aside main main" "footer footer footer";
  
}
  .navbar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    margin: 0;
  }
  
  
  #ham, .fa-magnifying-glass {
    display: none;
  } 
  
  .flex-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* For å justeres automatisk etter hvilken nettleser */ 
  .flex-section img {
    width: auto;
    height:auto; 
  }

  /* For å justeres automatisk etter hvilken nettleser */
  .flex-section section {
    padding: 1rem;
    width: auto;
    height:auto;
  }
  
  

}

/*  /* FJERNES, KAN BRUKE3S OM ØNSKELIG
.screenreader {
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
 
} */

/* r e s p o n s i v e */ 
/* FJERNES, KAN BRUKE3S OM ØNSKELIG
UBRUKT CSS 
.responsive {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: black; 
  margin: 0;
  padding: 0;
  top: 40px;
  width: 100%;
  list-style: none;
}
* r e s p o n s i v e  *
.responsive a {
  color: pink;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
}
*/







